@import url(http://fonts.googleapis.com/css?family=Comfortaa:300,400,700);
body {
  font-family: "Comfortaa", cursive; }

.first {
  background: linear-gradient(#F9BF3B, #fff); }

.red_block {
  background: #EC644B;
  padding: 15px;
  color: #fff;
  font-size: 20px; }

.info_box {
  background-color: #fff;
  border-radius: 28px;
  padding: 15px; }

.main {
  background: #F2F2F2;
  border-radius: 50px;
  position: relative; }

.circle {
  position: relative; }
